@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'Franklin Gothic Medium';
  src: local('Franklin Gothic Medium');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Franklin Gothic Medium', Arial, sans-serif;
}

.scroller{
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.swiper-slide-image {
  filter: brightness(80%) blur(1px) drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.25));
transition: filter 0.5s ease;
}

.swiper-slide-active .swiper-slide-image {
  filter: brightness(100%);
}