@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.text-gradient {
  background: linear-gradient(90deg, #3b82f6, #f97316);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: background 0.3s ease-in-out;
}

.text-gradient:hover {
  background: linear-gradient(90deg, #f97316, #3b82f6);
}