@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'Franklin Gothic Medium';
  src: local('Franklin Gothic Medium');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Franklin Gothic Medium', Arial, sans-serif;
}
